@model SubjectFormViewModel

<div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

<div class="row g-3">
    <div class="col-md-8">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
</div>
